/* Texto */

.titulo-1 {
  font-size: 238px;
  color: #D82E48;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-2 {
  font-size: 102px;
  color: #000000;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-3 {
  font-size: 60px;
  color: #F4F4F4;
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-4 {
    font-size: 70px;
    color: #D82E48;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.titulo-5 {
    font-size: 70px;
    color: #D82E48;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.subtitulo-1 {
    font-size: 70px;
    color: #D82E48;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.subtitulo-2 {
    font-size: 32px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.subtitulo-3 {
    font-size: 24px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
}


.texto-1 {
    font-size: 22px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.subtexto {
    font-size: 20px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Custom utilities */
.bg-principal {
  background-color: var(--color-principal);
}